body{
    background-color: black;
    h1{color: yellow;}
    p{color: white;}
    h2{color: yellow;}
    h3{color: yellow;}
    footer{color: white;}
    footer{color: orange;}
    ul{color: white;}
}
